header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $a-color;
  h1 {
    padding-left: 5%;
    color: #FFF;
  }
  span {
    color: #FFF;
  }
  nav {
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    ul{
      display: flex;
    }
    li {
      margin: 0 1em;
      list-style-type: none;
    }
    h1 {
      font-size: 1.5em;
    }
    a {
      color: #FFF;
      font-weight: 300;
      font-size: 1.2em;
      text-decoration: none;
      &:hover {
        color: $b-color;
      }
      &:active {
        color: $c-color;
      }
    }
  }
}