.container {
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FF6347; }
  header h1 {
    padding-left: 5%;
    color: #FFF; }
  header nav {
    padding-right: 5%;
    display: flex;
    flex-direction: row; }
    header nav ul {
      display: flex; }
    header nav li {
      margin-top: 0.5em;
      list-style-type: none; }
    header nav a {
      color: #FFF;
      font-weight: 300;
      font-size: 1.7em;
      text-decoration: none; }
