header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6347; }
  header h1 {
    padding-left: 5%;
    color: #FFF; }
  header nav {
    padding-right: 5%;
    display: flex;
    flex-direction: row; }
    header nav ul {
      display: flex; }
    header nav li {
      margin: 0 1em;
      list-style-type: none; }
    header nav h1 {
      font-size: 1.5em; }
    header nav a {
      color: #FFF;
      font-weight: 300;
      font-size: 1.2em;
      text-decoration: none; }
      header nav a:hover {
        color: #FFE97D; }
      header nav a:active {
        color: #876; }
