.signin {
  display: flex;
  justify-content: center;
  margin-top: 3em; }
  .signin form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid #BBB;
    width: 60%;
    align-items: center;
    padding-bottom: 3em;
    border-radius: 15px; }
    .signin form input {
      width: 50%;
      margin: 0.5em;
      font-size: 1.2em;
      border-radius: 5px; }
    .signin form label {
      align-self: flex-start;
      margin-left: 25%; }
