.restaurantsList {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1em auto;
  border: 1px solid black;
  border-radius: 15px;
  .subHeader {
    display: block;
    margin: 1em auto;
  }
  li {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    padding: 0.5em;
  }
  .restaurantsListEntry {
    display: flex;
    flex-direction: column;
    img {
      border-radius: 5px;
      height: 15  0px;
      width: 200px;
    }
    input[type="range"] {
      width: 30%;
      margin: 1em 0;
    }
    button {
      width: 30%;
      border-radius: 5px;
    }
  }
}